<h1>Productos en tiempo real</h1>

<form id="addForm">
  <input type="text" name="title" placeholder="Título" required />
  <input type="text" name="description" placeholder="Descripción" required />
  <input type="text" name="code" placeholder="Código" required />
  <input type="number" name="price" placeholder="Precio" required />
  <input type="number" name="stock" placeholder="Stock" required />
  <input type="text" name="category" placeholder="Categoría" required />
  <input type="text" name="thumbnails" placeholder="URL Imagen" required />
  <button type="submit">Agregar producto</button>
</form>

<form id="deleteForm">
  <input type="text" name="id" placeholder="ID del producto" required />
  <button type="submit">Eliminar producto</button>
</form>

<ul id="productList">
  {{#each products}}
    <li>{{title}} - ${{price}}</li>
  {{/each}}
</ul>

<script src="/js/realtime.js"></script>
